<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="example-button-container">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon class="example-button-container">menu</mat-icon>
      </button>
    </div>
    <span style="margin: 2rem">navbar works!</span>
    <mat-menu #menu="matMenu">
      <button routerLink="/blog" mat-menu-item>blog</button>
      <button routerLink="/contact" mat-menu-item>contact</button>
      <button routerLink="/home" mat-menu-item>home</button>
      <button routerLink="/about" mat-menu-item>about</button>
      <button routerLink="/login" mat-menu-item>login</button>
    </mat-menu>
    <span class="example-spacer"></span>
    <div class="example-button-container">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
