<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="example-button-container">
      <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
        <mat-icon class="example-button-container">menu</mat-icon>
      </button>
    </div>
    <span style="margin: 2rem">navbar works!</span>
    <span class="example-spacer"></span>
    <div class="example-button-container">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    </div>
    <div class="example-button-container">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
